html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ededed;
    color: #7e7e7e;
}

h1, h2, h3, p, img {
    padding: 10px;
    margin: 15px;
}

p {
    text-align: justify;
}

img {
    border: 20px solid navy;
}
